// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$theme-blue-light: #4F90DD;
$theme-blue-dark: #244E83;
$theme-font-color: #565452;
$theme-dark-gray: #535150;
