ul {
  padding-left: 0px;
  list-style: none;
}
#inbox {
  padding-top: 50px;
  padding-bottom: 50px;
}
#chat-profile {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  img {
    margin: auto;
    width: 200px;
    margin-bottom: 10%;
    height:200px;
    border-radius:10%;
    object-fit: cover;
  }
  .host-name {
    font-weight: bold;
  }
}
#messages-list {
  background-color: #f5f5f5;
  padding: 25px;
  height: 385px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid $theme-blue-dark;
  border-radius: 5px;
  display: flex;
  flex-direction : column;
  textarea.form-control {
    margin-bottom: 10px;
    border: 1px solid $theme-blue-dark;
  }
}
.new_message {
  margin-top: 20px;
}


.message-sent {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 5px 20px;
  padding: 10px;
  font-size: 1.2em;
  margin-left: auto;
}

.message-received {
  background-color: #FFF;
  border-color: #EEEEEE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 5px 20px;
  padding: 10px;
  font-size: 1.2em;
  align-self: flex-start;

}

.panel{
  border-radius: 5px;
  .panel-heading {
    border-radius: 5px;
  }
  #message_content {
    border-radius: 5px;
    margin: 10px 0;
  }
}
.edit-form {
  width: 100%;
  padding: 0 25%;
}

.msg-avatar {
  width: 30px;
  height: 30px;
}
.current-conversation {
}
.current-conversation h3 {
  border: 1px solid $theme-blue-dark;
  border-radius: 5px;
  font-size: 1.2em;
  color: $theme-font-color;
  padding: 20px;
}
.inbox-card {
  margin-bottom: 10px;
  border: 1px solid $theme-blue-dark;
  padding: 15px 30px;
  border-radius: 5px;
  position: relative;
}
.msg_inline {
  display: flex;
}

