#msg-index {
  .host-name {
    font-weight: bold;
  }
  .thread-subject {
    color: #817E7C;
  }
  .thread-listing {
    font-size: 80%;
  }
  .time-tag {
    font-size: 80%;
  }
  h3 {
    text-align: center;
    margin-top: 20px;
  }
  hr {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 10%;
    margin-left: 10%;

  }
  a {
    text-decoration: none;
    color: $theme-font-color;
  }
  a:hover {
    color: $theme-dark-gray;
  }
  .pannel {
    border: 1px solid #dce0e0;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    .list-layout {
      margin: 0;
    }
    .pannel-body {
      padding: 20px;
    }
  }
}
