<div class="container">
  <div class="col-xs-12">
    <div class="tabs container">
      <div class="tab-content">
        <div id="inbox" class="tab-pane active">


         <%= render 'conversation', conversation: @conversation, user: @current_user, new_message: @new_message %>

        </div>
      </div>
    </div>
  </div>
</div>




