<footer id="footer" class="clearfix">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="col-lg-8">
            <div class="footer-content">
              <div class="logo-footer">
                <!--  -->
                <%= link_to root_path do %>
                <% image_tag "logo.png", id: "logo-lg" %>
                <% end %>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <p>All over the world, there are young people who want to travel but are too poor to do so, and older people who just want someone to spend time with them. With Stay At Mamie's, you don't need to pay rent, you just have to spend a little time with an awesome person who will welcome you to their house. Start looking for your next best friend!</p>

                  <ul class="list-icons">
                    <li><i class="fa fa-map-marker pr-10 text-default"></i> 2, avenue des Saules, 59000 Lille</li>
                    <li><i class="fa fa-phone pr-10 text-default"></i> +33 1234567890</li>
                    <li><a href="mailto:info@stay-at-mamies.com"><i class="fa fa-envelope-o pr-10"></i>info@stay-at-mamies.com</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-content">
              <h2 class="title">Contact Us</h2>
              <br>
              <div class="alert alert-success hidden-xs-up" id="MessageSent2">
                We have received your message, we will contact you very soon.
              </div>
              <div class="alert alert-danger hidden-xs-up" id="MessageNotSent2">
                Oops! Something went wrong please refresh the page and try again.
              </div>
              <form id="footer-form" class="margin-clear" novalidate="novalidate">
                <div class="form-group has-feedback">
                  <label class="sr-only" for="name2">Name</label>
                  <input type="text" class="form-control" id="name2" placeholder="Name" name="name2">
                  <i class="fa fa-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                  <label class="sr-only" for="email2">Email address</label>
                  <input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2">
                  <i class="fa fa-envelope form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                  <label class="sr-only" for="message2">Message</label>
                  <textarea class="form-control" rows="6" id="message2" placeholder="Message" name="message2"></textarea>
                  <i class="fa fa-pencil form-control-feedback"></i>
                </div>
                <input type="submit" value="Send" class="margin-clear submit-button btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="subfooter-inner">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Made with love by Auriane, Elena, Elies and Wenzhu - EDHEC students - Le Wagon Bootcampers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->

</footer>
