<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
	<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>The Project | Home Restaurant</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link href="plugins/fullpage/jquery.fullpage.min.css" rel="stylesheet">
    <link href="plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="plugins/hover/hover-min.css" rel="stylesheet">		
    <link href="plugins/morphext/morphext.css" rel="stylesheet">
    
    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="css/style.css" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Lato -->
    <!-- Used font for headings: Roboto Slab -->
    <!-- Use css/rtl_typography-scheme-2.css for RTL version -->
    <link href="css/typography-scheme-2.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="css/skins/gold.css" rel="stylesheet">
    

    <!-- Custom css --> 
    <link href="css/custom.css" rel="stylesheet">
    
    
  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class="transparent-header gradient-background-header front-page full-page">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header dark fixed clearfix">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-xl-3 hidden-md-down">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html"><img id="logo_img" src="images/logo_gold.png" alt="The Project"></a>
                  </div>

                  <!-- name-and-slogan -->
                  <div class="site-slogan">
                    Multipurpose HTML5 Template
                  </div>

                </div>
                <!-- header-first end -->

              </div>
              <div class="col-lg-8 col-xl-9">
          
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">

                  <!-- main-navigation start -->
                  <!-- classes: -->
                  <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                  <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                  <!-- ================ -->
                  <div class="main-navigation  animated">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                      <div class="navbar-brand clearfix hidden-lg-up">

                        <!-- logo -->
                        <div id="logo-mobile" class="logo">
                          <a href="index.html"><img id="logo-img-mobile" src="images/logo_gold.png" alt="The Project"></a>
                        </div>

                        <!-- name-and-slogan -->
                        <div class="site-slogan">
                          Multipurpose HTML5 Template
                        </div>

                      </div>
                      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse scrollspy" id="navbar-collapse-1">
                        <!-- main-menu -->
                        <ul id="fullpage-menu" class="navbar-nav ml-lg-auto">
                          <li data-menuanchor="firstPage" class="nav-item"><a href="#firstPage" class="nav-link smooth-scroll active">Intro</a></li>
                          <li data-menuanchor="secondPage" class="nav-item"><a class="nav-link smooth-scroll" href="#secondPage">About</a></li>
                          <li data-menuanchor="thirdPage" class="nav-item"><a class="nav-link smooth-scroll" href="#thirdPage">Menu</a></li>
                          <li data-menuanchor="fourthPage" class="nav-item"><a class="nav-link smooth-scroll" href="#fourthPage">Reviews</a></li>
                          <li data-menuanchor="fifthPage" class="nav-item"><a class="nav-link smooth-scroll" href="#fifthPage">Contact</a></li>
                        </ul>
                        <!-- main-menu end -->
                      </div>
                    </nav>
                  </div>
                  <!-- main-navigation end -->

                </div>
                <!-- header-second end -->

              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->

      <div class="fullpage-site-with-menu">

        <!-- section start -->
        <!-- ================ -->
        <section id="section-1" class="section dark-translucent-bg" style="background-image: url(images/restaurant-2-intro.jpg);">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-8">
                <div class="text-center">
                  <h1 class="title large object-non-visible" data-animation-effect="zoomIn" data-effect-delay="300">The Restaurant</h1>
                  <div class="separator with-icon"><i class="fa fa-glass bordered" aria-hidden="true"></i></div>
                  <p class="object-non-visible" data-animation-effect="fadeInDown" data-effect-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrumi.</p>
                  <a href="#secondPage" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- section end -->

        <!-- section start -->
        <!-- ================ -->
        <section id="section-2" class="section dark-translucent-bg" style="background-image: url(images/restaurant-2-about.jpg);">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-8 pv-20">
                <h2 class="title text-center">About Us</h2>
                  <div class="separator with-icon"><i class="fa fa-cutlery bordered"></i></div>
                <h3>Since 1956</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eius fugit sint modi, maiores labore quo ex explicabo temporibus neque ea, laborum, vitae eos pariatur? Facilis quasi, quia velit nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus veniam similique nam dolorem eum hic neque, odit aliquid reprehenderit, reiciendis tempora eveniet blanditiis, asperiores illo necessitatibus obcaecati totam unde!</p>
              </div>
            </div>
          </div>
        </section>
        <!-- section end -->

        <!-- section start -->
        <!-- ================ -->
        <section id="section-3" class="section dark-translucent-bg" style="background-image: url(images/restaurant-2-menu.jpg);">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-8 text-center">
                <div class="separator with-icon"><i class="fa fa-book bordered"></i></div>
              </div>
            </div>
            <!-- Nav tabs -->
            <div class="d-flex justify-content-center">
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#pill-1" role="tab" data-toggle="tab" title="images">Breakfast</a></li>
                <li class="nav-item"><a class="nav-link" href="#pill-2" role="tab" data-toggle="tab" title="video">Lunch</a></li>
                <li class="nav-item"><a class="nav-link" href="#pill-3" role="tab" data-toggle="tab" title="text">Dinner</a></li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="pill-1">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-1.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Explicabo sed sequi recusandae</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$9.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-2.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Aliquam atque ipsam nihil</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$5.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-3.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Nihil adipisci rem minus</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$6.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-4.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Adipisicing elit aliquam atque</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$8.99</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="pill-2">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-5.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Adipisci rem minus</h4>
                        <p class="small mb-10">Et voluptatum, pariatur doloremque. Et voluptatem commodi, cupiditate atque repellat ipsam, ipsa.</p>
                        <p class="lead text-default">$6.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-6.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Lorem ipsum dolor sit amet</h4>
                        <p class="small mb-10">Illo recusandae consectetur, reprehenderit ipsa saepe expedita debitis unde quod eum et, adipisci.</p>
                        <p class="lead text-default">$8.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-7.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Aliquam atque ipsam nihil</h4>
                        <p class="small mb-10">Blanditiis laboriosam quia totam qui cupiditate dolore adipisci et, at ullam molestias sed dolorum.</p>
                        <p class="lead text-default">$9.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-8.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Consectetur adipisicing elit</h4>
                        <p class="small mb-10">Eaque officia odit enim iure nam maiores deserunt incidunt omnis quis dolore, molestiae voluptate.</p>
                        <p class="lead text-default">$12.99</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="pill-3">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-9.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Explicabo sed sequi recusandae</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$9.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-10.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Aliquam atque ipsam nihil</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$5.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-11.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Nihil adipisci rem minus</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$6.99</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="image-box text-center style-2 mb-20">
                      <div class="ph-40">
                        <img src="images/restaurant-dish-12.jpg" alt="" class="rounded-circle">
                      </div>
                      <div class="body padding-horizontal-clear">
                        <h4 class="title">Adipisicing elit aliquam atque</h4>
                        <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                        <p class="lead text-default">$8.99</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- pills end -->
          </div>
        </section>
        <!-- section end -->

        <section id="section-4" class="section dark-translucent-bg" style="background-image: url(images/restaurant-2-clients.jpg);">
          <div class="owl-carousel content-slider">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="testimonial">
                    <h3 class="title">Just Perfect! </h3>
                    <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i></span>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                      <div class="testimonial-info-2">05/02/2015</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="testimonial">
                    <h3 class="title">Tasty! </h3>
                    <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star-half-o text-default"></i></span>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ullam nihil sapiente ipsa sint! Eveniet quos exercitationem, cum architecto animi maiores assumenda mollitia voluptatem vel ipsum, voluptate consequuntur libero quae!</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                      <div class="testimonial-info-2">05/02/2016</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="testimonial">
                    <h3 class="title">Amazing! </h3>
                    <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i></span>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis optio soluta aspernatur, amet fugiat. Eum doloribus, illo eius blanditiis laudantium sequi fuga enim minima, labore nihil quia at optio sapiente.</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                      <div class="testimonial-info-2">05/05/2016</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="testimonial">
                    <h3 class="title">Good! </h3>
                    <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i></span>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est cupiditate eos molestias dicta nulla neque vero excepturi reprehenderit impedit quae dolorem illo, deserunt, explicabo voluptatibus! Debitis necessitatibus cupiditate perspiciatis, veniam!</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                      <div class="testimonial-info-2">05/02/2015</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="testimonial">
                    <h3 class="title">Great service! </h3>
                    <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star-half-o text-default"></i></span>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem natus neque sint quia necessitatibus, perspiciatis ipsam, atque accusantium ut, voluptates quo omnis porro adipisci voluptatibus rerum beatae enim aut sunt!</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                      <div class="testimonial-info-2">05/02/2016</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="testimonial">
                    <h3 class="title">Amazing! </h3>
                    <span><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i><i class="fa fa-star text-default"></i></span>
                    <div class="testimonial-body">
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa asperiores molestiae fuga quia distinctio autem consectetur quas dolore quos esse, iste vel aliquam vitae tempore consequatur, rem atque id obcaecati.</p>
                      </blockquote>
                      <div class="testimonial-info-1">- Jane Doe</div>
                      <div class="testimonial-info-2">05/05/2016</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- section start -->
        <!-- ================ -->
        <section id="section-5" class="section dark-translucent-bg" style="background-image: url(images/restaurant-2-contact.jpg);">
          <div class="container">
            <div class="row justify-content-lg-center">
              <div class="col-lg-8 text-center pv-20">
                <h2 class="text-center mt-4">Contact Us</h2>
                <div class="separator with-icon"><i class="fa fa-phone bordered"></i></div>
                <p class="lead text-center">It would be great to hear from you! Just call us and ask for anything with which you think we could be helpful. We are looking forward to hearing from you!</p>
                <ul class="list-inline mb-20 text-center">
                  <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>One infinity loop, 54100</li>
                  <li class="list-inline-item"><a href="tel: 00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-1"></i>+00 1234567890</a></li>
                  <li class="list-inline-item"><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>info@theproject.com</a></li>
                </ul>
                <div class="separator"></div>
                <ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
                  <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                  <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                  <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
                </ul>
                <form action="http://maps.google.com/maps" method="get" target="_blank">
                  <input type="hidden" name="daddr" value="350 5th Ave New York, NY 10018 (Empire State Building)" />
                  <input type="submit" class="btn btn-lg btn-default" value="Get directions" />
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- section end -->
      </div>

      <!-- .subfooter start -->
      <!-- ================ -->
      <div class="subfooter">
        <div class="container">
          <div class="subfooter-inner">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">Copyright © 2017 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="plugins/popper.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Fullpage javascript -->
    <script type="text/javascript" src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="plugins/fullpage/jquery.fullpage.js"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="plugins/isotope/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="plugins/waypoints/sticky.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="plugins/jquery.validate.js"></script>
    <!-- Morphext -->
    <script type="text/javascript" src="plugins/morphext/morphext.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>

  </body>
</html>
