// #footer {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 60px;
//   width: 100%;
//   display: inline-block;
// }
#logo-footer {
  height: 100px;
  width: 150px;
}

.footer {
  background-color: #E6E6E9 !important;
}
