.nav-item {
  padding: 10px;
  .nav_notif {
    position: relative;
    display: inline-block !important;
    vertical-align: top !important;
    #message_navb {
      position: relative;
      #notification_dot {
        fill: #008489 !important;
        height: 6px !important;
        opacity: 1 !important;
        position: absolute !important;
        top: 40% !important;
        padding-left: 3px;
      }
    }
  }
  .nav-link {
    color: #565451 !important;
    margin-top: 35px;
    &:hover {
      background-color: #F4F4F4 !important;
      color: #787671 !important;
    }
  }

}

.header {
  // height: 100px;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

/* Logo */
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 50px;
}
/*mobile menu*/
.header .navbar-brand {
  padding: 13px 0;
  margin-right: 0;
}
.header .navbar-toggler {
  top: 19px;
  right: 0;
}
.navbar-light .navbar-toggler {
  border-color: #ccc;
}
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
  background-color: #fafafa;
}
#logo-lg {
  height: 100px;
  width: 150px;
}

@media (max-width: 765px) {
  .nav-item {
    .nav-link {
      margin-top: 0px;
    }
  }
}
