// Graphical variables
@import "config/fonts";
@import "config/colors";
//@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "theme/style";
// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

html, body {
    height: 100%;
}
body {
    margin:0px;
    padding: 0px;
}
.sticky-wrapper {
    height: auto;
    margin: 0 auto -80px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 0px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}
#footer {
    height: 60px;  /* footer height */
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.img-circle {
  border-radius: 50%
}

.btn-lg {
  margin-left: 20px !important;
}

.title-apartment {
  font-size: 28px !important;
}

.form {
  margin-top: 60px
}
