<h1>Apartments#index</h1>
<ul>
  <% @apartments.each do |apartment| %>
  <%= link_to "#{apartment.name}", apartment_path(apartment) %>
  <% end %>
</ul>
<%= link_to "add new apartment", new_apartment_path %>
