<p>apartment name : <%= @apartment.name %></p>
<p>description: <%= @apartment.description %></p>
<p>owner: <%= @apartment.user.profile.first_name %></p>
<%= link_to "back to list", apartments_path %>
